<h2 mat-dialog-title>Create a new product.</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <ng-container>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" type="text" placeholder="Fill in the description">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" placeholder="Fill in the price">
      </mat-form-field>
    </ng-container>
    <ng-container>
      <mat-form-field>
        <mat-label>Volume</mat-label>
        <input matInput formControlName="volume" type="number" placeholder="Fill in the volume">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Volume unit</mat-label>
        <mat-select formControlName="volumeUnit">
          <mat-option disabled [value]="-1">Select a volume unit</mat-option>
          <mat-option value="cl">cl</mat-option>
          <mat-option value="dl">dl</mat-option>
          <mat-option value="l">l</mat-option>
          <mat-option value="hl">hl</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button [disabled]="form.invalid" mat-flat-button [mat-dialog-close]="form" color="primary">Save</button>
</mat-dialog-actions>


